.show-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 32px;
  padding: 16px;

  h1 {
    font-family: $sub-title;
  }

  h5 {
    font-family: $sub-title;
  }

  .show-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    a {
      position: absolute;
      bottom: 0;
      right:0;
    }
  }

  .show-page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .show-page-right-container {
    position: sticky;
    top: 75px;
  }

  .show-page-reviews {

    background-color: rgba(255, 255, 255, 0.15);
    overflow: scroll;
    height: 59vh;
  }

  .show-page-no-reviews {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3 {
      font-family: $sub-title;
    }
  }

  .show-review {
    border-bottom: 1px solid white;
    padding: 8px;
    p {
      margin-bottom: 0px;
    }
  }

  .show-review-user-name {
    font-size: 12px;
    margin: 0;
  }

  .show-page-add-review {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .review_content {
    margin: 0px;
  }
}

