<div class="banner">
  <div class="banner-text">
    <h1>Turned up</h1>
    <h2>Search / Book / <i class="fas fa-music"></i></h2>
    <div class="search-form">
      <%= form_with(url: "/search", method: "get") do %>
        <%= text_field_tag 'search', nil, placeholder: "  Enter your location", :class => "search-form-input"  %>
        <%= submit_tag "Search", :class => "search-form-btn" %>
      <% end %>
    </div>
  </div>
</div>




