<div class="navbar">
  <div class="navbar-home">
    <a href="/"><h1>turned up</h1></a>
  </div>
  <div class="navbar-user">
    <% if current_user %>
      <%= "hello world" %>
    <% else %>
      <a href="/sign-in" class="btn sign-in">Log in</a>
    <% end %>
  </div>
</div>
