<div class="navbar">
  <div class="navbar-home">
    <a href="/"><h1>turned up</h1></a>
  </div>
  <div class="navbar-user">
    <% if current_user %>
      <%= "hello world" %>
      <%= link_to "Sign out", destroy_user_session_path %>
      <%= image_tag current_user.photo, alt: "alttext" %>
    <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn-dark"  %>
    <% end %>
  </div>
</div>
