.booking-form {
  height: 80vh;
  padding-top: 16px;
}

.confirm-booking {
  color: green;
  font-size: 12px;
}


.confirm-booking-submit {
  color: green;
}

// .edit-form-user {
//   height: 80vh;
// }
