.btn {
  margin-right: 16px;
  padding: 4px 16px;
  background-color: black;
  color: white;
  border-radius: 40px;
  font-family: $sub-title;
  &:hover {
    color: $pink;
  }
}

.search-form {
  padding-top: 18px;

  .search-form-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .search-form-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: black;
  background-color: black;
  color: white;
   &:hover {
    color: $pink;
   }
  }
}
