.btn-dark {
  margin-right: 16px;
  padding: 4px 16px;
  background-color: black;
  color: white;
  border-radius: 40px;
  font-family: $sub-title;
  transition: 0.3s;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

.btn-light {
  padding: 4px 16px;
  background-color: $pink;
  color: white;
  font-family: $sub-title;
  transition: 0.3s;
  border: none;
  &:hover {
    color: $pink;
    background-color: white;
    text-decoration: none;
  }
}

.btn-light-lrg {
  padding: 4px 16px;
  background-color: $pink;
  color: white;
  font-family: $sub-title;
  font-size: 24px;
  transition: 0.3s;
  border: none;
  &:hover {
    color: $pink;
    background-color: white;
    text-decoration: none;
  }
}

.btn-light-full-size {
  display:inline-block;
  width: 100%;
  padding: 4px 16px;
  background-color: $pink;
  color: white;
  font-family: $sub-title;
  font-size: 24px;
  transition: 0.3s;
  border: none;
  &:hover {
    color: $pink;
    background-color: white;
    text-decoration: none;
  }
}

.btn-sub {
  margin-right: 16px;
  padding: 0px;
  color: white;
  border-radius: 40px;
  font-family: $sub-title;
  border: 1px solid black;
  transition: 0.3s;
  &:hover {
    color: $pink;
    text-decoration: none;
    border: 1px solid black
  }
}

.search-form {
  padding-top: 18px;

  .search-form-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .search-form-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: black;
  background-color: black;
  color: white;
  transition: 0.3s;
  padding: 4px 8px;
  border: 1px solid white;
   &:hover {
    text-decoration: none;
    color: $pink;
   }
  }
}
