.card-small {

  h2 {
    font-family: $sub-title;
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  h5 {
    font-family: $sub-title;
    margin: 0;
  }

  h6 {
    font-family: $sub-title;
    margin: 0;
  }

  .card-body {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .card-image {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }

  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 3rem;
  }

  .card-location-and-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-location {
    font-size: 14px;
    opacity: 0.7;
  }

  .card-description {
    height: 80px;
  }

  .card-price-and-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-link {
    font-family: $sub-title;
    color: $pink;
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.user-card {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem;

  h1 {
    font-family: $sub-title;
    padding-bottom: 1rem;
  }

  h3 {
    padding-top: 1rem;
    font-family: $sub-title;
  }
  .user-card-top {
    display: flex;
  }

  .user-card-image {
    width: 15rem;
    height: 15rem;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
  }

  .user-card-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    position: relative;
    a {
      position: absolute;
      top: 0;
      right:0;
    }
  }

  .user-card-top-details {

  }

  .user-card-break {
    border-bottom: 1px solid white;
  }

  .user-card-bottom {
    padding-top: 16px;
    text-align: center;
  }
}

@media(max-width: 600px) {

  .user-card {
    .user-card-top {
      display: block;
    }
  }

  .card-small {
    .card-description {
      height: 100%;
    }

    .card-image {
      height: 12rem;
    }

    .card-title {
      height: 100%;
    }
  }

}

