.log-in {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    font-family: $sub-title;
  }

  .log-in-box {
    width: 25%;
  }
}

// .br-widget {
//   display: flex;
//   justify-content: center;
//   text-align: center;
// }

// .row {
//   padding-top: 100px;
// }

// .row-register {
//   // margin-top: 10vh;
// }

