.log-in {
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    font-family: $sub-title;
  }

  .log-in-box {
    width: 25%;
  }

  .log-in-links {
    padding-top: 32px;
  }
}
