.navbar {
  display: grid;
  grid-template-columns: 12rem 4fr 12rem;
  grid-template-areas: "link search user";
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-left {
  grid-area: link;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;

  a {
    color: black;
    font-family: $title;
    font-size: 2rem;
    transition: 0.3s;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }
}

.navbar-center {
  grid-area: search;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
}



.navbar-right {
  grid-area: user;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;

  h6 {
  font-family: $sub-title;
  color: black;
  margin-right: 1rem;
  margin-bottom: 0px;
  }


  .dropdown {
    a:hover {
      background-color: $pink;
    }
  }

  .navbar-user-photo {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
      opacity: .5;
    }
  }
}

@media(max-width: 600px) {
  .navbar {
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "search user";
  }

  .navbar-left {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .navbar-center {
    padding-top: 0;
  }

  .navbar-right {
    margin-right: -32px;
  }

  .navbar-user-name {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

