.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 10vh;

  .navbar-home {
    h1 {
      margin: 0 0 0 16px;
      transition: 0.3s;
    }
    a {
      text-decoration: none;
      color: black;
      :hover {
        color: $pink
      }
    }
  }

  .navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

    h6 {
      font-family: $sub-title;
      padding-right: 16px;
      margin: 0px;
    }
    .dropdown {
      a:hover {
        background-color: $pink;
      }
    }


    .navbar-user-photo {
      width: 48px;
      height: 48px;
      background-size: cover;
      border-radius: 50%;
      border: 3px solid black;
      transition: 0.3s;
      &:hover {
        opacity: .5;
      }
    }
  }
}
