.search-form {
  padding-top: 18px;
  display: flex;
  .search-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 16px;
  }
  .search-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: black;
  background-color: black;
  color: white;
  transition: 0.3s;
  padding: 4px 8px;
  border: 1px solid white;
   &:hover {
    text-decoration: none;
    color: $pink;
   }
  }
}
