.book-now {
  position: relative;
  left: 694px;
  top: -50px;
}

.artist-image {
  position: relative;
  top: -45px;
}

.user-profile {
  height: 80vh;
}

.artist-booked {
  border-bottom: white 1px solid;
}
